{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans with forum|title as forum_title %}{{ forum_title }} Topics{% endblocktrans %}{% endblock %}
{% block breadcrumb %}<li><a href="/forum/">{% trans "Forum" %}</a></li> <li class="last">{% blocktrans with forum|title as forum_title %}{{ forum_title }}{% endblocktrans %}</li>{% endblock %}
{% block content %}
{% if is_paginated %}{% load paginator %}<div class="paginator">{% paginator %}</div>{% endif %}
<br /><a href="{{ forum.get_absolute_url }}create/">{% trans "Add New Topic" %}</a>
<table>
<tr><td>{% trans "Topic" %}</td> <td>{% trans "User" %}</td> <td>{% trans "Date Published" %}</td></tr>
{% for object in object_list %}
<tr><td>{% if object.locked %}{% trans "Locked" %}{% endif %}{% if object.sticky %}{% trans "Sticky" %}{% endif %}<a href="{{ object.get_absolute_url }}">{% blocktrans with object.name|title as object_title %}{{ object_title }}{% endblocktrans %}</a></td> <td><a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>{% load iptocountry_filter %}{{ object.ip_address|get_country2:"iptocountry/flags/"}}</td> <td>{{ object.pub_date|date:"F j Y" }}</td></tr>
{% endfor %}
</table>
{% if is_paginated %}{% load paginator %}<div class="paginator">{% paginator %}</div>{% endif %}
{% endblock %}
